
{% extends 'base.html.twig' %}
{% block body %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>About us</h2>
                    <div class="bt-option">
                        <a href="./index.html">Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- ChoseUs Section Begin -->
<section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Le 22/03/2021</span>
                    <h2>Lancement dans l'espace de "Challenge One" premier satellite Tunisien </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">

                    <h4>Le Groupe Telnet</h4>
                    <p> vient d’écrire une page déterminante de son histoire à travers une prouesse hautement technologique, à savoir le lancement du premier satellite tunisien dans l’espace, baptisé “Challenge One“.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">

                    <h4>Après un report dû à des facteurs climatiques</h4>
                    <p>, le lancement a eu lieu le 22 mars 2021 à 7h07 par la fusée russe Soyouz-2 à partir du cosmodrome de Baïkonour au Kazakhstan.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">

                    <h4>Notre satellite</h4>
                    <p>Conçu et développé par des compétences tunisiennes</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">

                    <h4>Notre satellite</h4>
                    <p>  permet la transmission des données utiles aux citoyens par la connexion des objets situés sur la Terre (Internet of Things) en utilisant, pour la première fois, le protocole de communication LoRa via l’espace</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ChoseUs Section End -->


<!-- Team Section Begin -->
<section class="team-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-title">
                    <div class="section-title">
                        <span>Notre équipe</span>

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="ts-slider owl-carousel">
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-1.jpg">
                        <div class="ts_text">
                            <h4>Mohamed Frikha</h4>
                            <span>CEO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-2.jpg">
                        <div class="ts_text">
                            <h4>Lotfi Zghal</h4>
                            <span>CTO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-3.jpg">
                        <div class="ts_text">
                            <h4>Anis Youssef</h4>
                            <span>Chief Innovation Officer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-4.jpg">
                        <div class="ts_text">
                            <h4>Mehdi Zaabar</h4>
                            <span>Project Director</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-5.jpg">
                        <div class="ts_text">
                            <h4>Mokhtar Fatteh</h4>
                            <span>Hardware lead</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-6.jpg">
                        <div class="ts_text">
                            <h4>Makrem Ben Abdallah</h4>
                            <span>Software lead</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}