
<h1>Merci de confirmer votre rendez-vous</h1>

<p>
    Veuillez confirmer votre rendez-vous en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon rendez-vous</a>.
    le lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A plus!
</p>