{% extends 'base.html.twig' %}

{% block title %}add user{% endblock %}

{% block body %}

    <!-- Breadcrumb Section Begin -->

    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="signup-text">

                    <div class="container">
                        {# read and display just one flash message type #}


                        <div class="signup-title">
                            <h2 style="color: #ffffff">Ajouter un utilisateur </h2>
                            <p>Entrez l'adresse e-mail de votre collégue </p>
                        </div>
                        <div class="chart-calculate-form">
                        <form class="form-inline" action="" method="GET">
                            <div class="row">
                            <div class="col-lg-12" style="color: #004999;margin-bottom: 30px;margin-left:350px;">
                                <h4 style="color: #004999" >Email :</h4>
                                <br>
                                <div>

                                    <input type="search" name="email" id="inputEmail" placeholder="email" autocomplete="email"  required autofocus >
                                    </div>

                                <br>

                                <button class="btn btn-lg btn" type="submit">
                                    Ajouter
                                </button>
                            </div>
                            </div>
                        </form>

                    </div></div>
                </div></div></div></section>
    </div>
    </div>
{% endblock %}
