<h1>Bonjour! </h1>
</div>
<p>veuillez créer votre compte</p>
<p>votre college {{ user.nom}} {{ user.prenom}} ayant cette adresse {{ user.email}} veut vous ajouter dans un abonnement  </p>
<a href="http://127.0.0.1:8000{{ path('app_client_new') }}">click here</a>

</div>